/* Declarando variaveis de cores */
:root {
  --cor-roxo: #7F3FBF;
  --cor-roxo-hover: #B388EB;
  --cor-fundo: #121212;
  --cor-card: #2E1A47;
  --cor-texto: #FFFFFF;
}

/* Estilos gerais */
body {
  background-color: #f8f9fa;
  /* cinza claro suave */
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Cabeçalho */

.titulo-header {
  font-size: 1.8rem;
  /* Reduzido de 1.8rem */
  font-weight: bold;
  margin: 0;
}

.bg-primary-costum {
  background-color: var(--cor-roxo);
  color: rgb(238, 238, 238);
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Conteúdo principal */
.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Abas (Nav Tabs) */
.nav-tabs .nav-link {
  color: var(--cor-roxo);
  font-weight: 500;
}

.nav-tabs .nav-link.active {
  background-color: var(--cor-roxo-hover);
  color: white;
  border: none;
  border-radius: 5px 5px 0 0;
}

/* Formulários */
form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  align-items: center;
}

/* Botão calcular */
button.btn-primary {
  background-color: var(--cor-roxo);
  border-color: var(--cor-roxo);
  width: 10%;
  font-weight: bold;
}

button.btn.btn-primary:hover {
  background-color: var(--cor-roxo-hover);
  border-color: var(--cor-roxo-hover);
}

/* Resultados */
#resultado1,
#resultado2,
#resultado3 {
  margin-top: 20px;
}

/* Rodapé */
footer {
  background-color: #343a40;
  /* cinza escuro */
  color: #adb5bd;
  /* cinza claro */
  text-align: center;
  padding: 15px 0;
  font-size: 0.9rem;
  margin-top: 30px;
  letter-spacing: 0.5px;
  border-top: 1px solid #dee2e6;
}

/* Responsividade para telas menores */
@media (max-width: 576px) {
  header {
    font-size: 1.5rem;
  }

  form {
    padding: 15px;
  }
}